<div class="main-container">
<div class="user-wrapper">

<div class="user-img">
<img src="<%= @user.photo %>" class="user-image">
</div>

<div class="info-user">
<h1><%=link_to @user.name, users_path %></h1>
  <h5>Number of posts: <%= @user.posts.count %></h5>
</div>

</div>

<% @posts.each_with_index do |post, index| %>
    <div class="user-posts <%= 'hidden' if index >= 3 %>">
      <b>Post:<%= index + 1 %> <%= @user.name %></b>
      <p class="post-text">
      <p class="post-text">
<%=link_to post.text, user_post_path(@user, post) %>
</p>

<% if can? :destroy, post %>
    <%= button_to 'Delete Post', destroy_post_path(post), method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>

      </p>
      <div class="coutner-count">
      <h6>Comments: <%= post.comments.count %></h6>
      <h6>Likes: <%= post.likes.count %></h6>
      </div>

            <% post.recent_post_comments.each do |comment| %>
                <p><%= comment.author.name %>: <%= comment.text %></p>
            <% end %>

    </div>
  <% end %>

<% if current_user == @user %>
  <%= link_to "Create Post", new_user_post_path(current_user), class: "signup-btn" %>
<% end %>

    
<button class="show-all-btn">Pagination<button>
</div>

</div>