<div class="main-container">

    <div class="user-posts">

<div class="top-info">
      <b>Post: <%= @index %> <%=link_to @user.name, "/users" %></b>

      <div class="coutner-cont-posts">
      <h6>Comments: <%= @post.comments.count %></h6>
      <h6>Likes: <%= @post.likes.count %></h6>
      </div>
</div>
<p class="post-text">
<%= @post.text %>
</p>
 <% @post.comments.each do |comment| %>
  <p class="comment-show">
  <%= comment.author.name %>: <%= comment.text %>
  </p>

        <% if can? :destroy, comment %>
  <%= button_to 'DELETE Comment', post_comment_path(@post, comment), method: :delete %>
<% end %>

<% end %>
<div class="forms-btns">
<%= link_to "Add Comment", new_post_comment_path(@post), class: "form-btn" %>
<%= render partial: 'likes/like', locals: { post: @post } %>
</div>

</div>


</div>