<div class="main-container">

    <div class="user-posts">

<div class="top-info">
      <b>Post: <%= @index %> <%=link_to @user.name, "/users" %></b>

      <div class="coutner-cont-posts">
      <h6>Comments: <%= @post.comments.count %></h6>
      <h6>Likes: <%= @post.likes.count %></h6>
      </div>
</div>
<p class="post-text">
<%= @post.text %>
</p>
 <% @post.comments.each do |comment| %>
  <p class="comment-show">
  <%= comment.author.name %>: <%= comment.text %>
  </p>
<% end %>

<form action="<%= post_comments_path(@post) %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <textarea name="comment[text]" rows="6" cols="20"></textarea>
  <input type="submit" value="Submit">
</form>

<%= render partial: 'likes/like', locals: { post: @post } %>

</div>


</div>